body {
  margin: 30px;
}

.ToDoList {
  display: flex;
  list-style-type: none;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.to-do-item {
  width: 200px;
  height: 150px;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  padding: 30px;
  margin: 30px;
}

.urgent{
  background-color: rgb(238, 238, 238);
  color: darkred;
}